In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import CategoricalNB
#rawData = pd.read_csv("students2.csv")

In [ ]:
rawData['time'] = pd.Categorical(rawData['time'])

rawData['time_ord'] =rawData.time.cat.codes

#print(rawData['time_ord'].head())

rawData = rawData.drop(['time'],axis=1)
print(rawData['time_ord'])

0      2
1      5
2      5
3      2
4      5
      ..
661    2
662    4
663    5
664    4
665    2
Name: time_ord, Length: 666, dtype: int8

In [ ]:
print(rawData.head())
print(rawData.loc[[0][0]])

  Performance Gender    Caste  ... Father_occupation Mother_occupation time_ord
0   Excellent   male  General  ...            DOCTOR            OTHERS        2
1   Excellent   male      OBC  ...    SCHOOL_TEACHER        HOUSE_WIFE        5
2   Excellent   male      OBC  ...          BUSINESS        HOUSE_WIFE        5
3   Excellent   male  General  ...    SCHOOL_TEACHER    SCHOOL_TEACHER        2
4   Excellent   male  General  ...   COLLEGE_TEACHER        HOUSE_WIFE        5

[5 rows x 12 columns]
Performance              Excellent
Gender                        male
Caste                      General
coaching                        NO
Class_ten_education           SEBA
twelve_education             AHSEC
medium                     ENGLISH
Class_ X_Percentage      Excellent
Class_ XII_Percentage    Excellent
Father_occupation           DOCTOR
Mother_occupation           OTHERS
time_ord                         2
Name: 0, dtype: object

In [ ]:
rawData = pd.get_dummies(data=rawData, columns=['Gender','Mother_occupation','Father_occupation','coaching','Caste','twelve_education','medium','Class_ten_education'])

In [ ]:
def mudar(Perfomance): 
    if Perfomance == 'Excellent':
        valor = float(1)
    elif Perfomance == 'Vg':
        valor = float(0.66)
    elif Perfomance == 'Good':
        valor = float(0.33)
    else:
        valor = 0
    return valor

In [ ]:
y = rawData['Performance']
rawData = rawData.drop(['Performance'],axis=1)
#cat_list = []
#for i in range(len(rawData)):
#    per = rawData.iloc[i]['Performance']
#    cat = mudar(per)
#    cat_list.append(cat)
#rawData['Performance'] = cat_list

In [ ]:
cat_list = []
for i in range(len(rawData)):
    per = rawData.iloc[i]['Class_ X_Percentage']
    cat = mudar(per)
    cat_list.append(cat)
rawData['Class_ X_Percentage'] = cat_list

In [ ]:
cat_list = []
for i in range(len(rawData)):
    per = rawData.iloc[i]['Class_ XII_Percentage']
    cat = mudar(per)
    cat_list.append(cat)
rawData['Class_ XII_Percentage'] = cat_list

In [ ]:
print(rawData.values)
#print(rawData.loc[0])

[[1.   1.   0.4  ... 0.   0.   1.  ]
 [1.   1.   1.   ... 0.   0.   1.  ]
 [1.   1.   1.   ... 0.   1.   0.  ]
 ...
 [0.33 0.66 1.   ... 0.   0.   1.  ]
 [0.33 0.33 0.8  ... 0.   0.   1.  ]
 [0.66 0.33 0.4  ... 0.   0.   1.  ]]

In [ ]:
df_min_max_scaled = rawData.copy() 
column = 'time_ord'
df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())     
rawData = df_min_max_scaled

In [ ]:
display(rawData)
display(y)

     Class_ X_Percentage  ...  Class_ten_education_SEBA
0                   1.00  ...                         1
1                   1.00  ...                         1
2                   1.00  ...                         0
3                   1.00  ...                         1
4                   1.00  ...                         1
..                   ...  ...                       ...
661                 0.33  ...                         1
662                 0.66  ...                         1
663                 0.33  ...                         1
664                 0.33  ...                         1
665                 0.66  ...                         1

[666 rows x 38 columns]

0      Excellent
1      Excellent
2      Excellent
3      Excellent
4      Excellent
         ...
661      Average
662      Average
663      Average
664      Average
665      Average
Name: Performance, Length: 666, dtype: object

In [ ]:
with open('csv_data.csv', 'w') as csv_file:
    rawData.to_csv(path_or_buf=csv_file)

In [ ]:
X = dados.values;
y = label.values;

In [ ]:
a = rawData.columns

normalize = preprocessing.MinMaxScaler()
xscaled = normalize.fit_transform(X)
dados = pd.DataFrame(xscaled,columns=a)

In [ ]:
dados

     Class_ X_Percentage  ...  Class_ten_education_SEBA
0                   1.00  ...                       1.0
1                   1.00  ...                       1.0
2                   1.00  ...                       0.0
3                   1.00  ...                       1.0
4                   1.00  ...                       1.0
..                   ...  ...                       ...
661                 0.33  ...                       1.0
662                 0.66  ...                       1.0
663                 0.33  ...                       1.0
664                 0.33  ...                       1.0
665                 0.66  ...                       1.0

[666 rows x 38 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.3, random_state=42)

In [ ]:
ClasSVM = SVC(kernel="rbf",C=0.5)

ClasSVM.fit(X_train,y_train)

SVC(C=0.5, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_classificados = ClasSVM.predict(X_test)

In [ ]:
print(classification_report(y_test,y_classificados))

              precision    recall  f1-score   support

     Average       0.90      0.70      0.79        50
   Excellent       0.00      0.00      0.00        38
        Good       0.39      0.67      0.49        55
          Vg       0.47      0.54      0.50        57

    accuracy                           0.52       200
   macro avg       0.44      0.48      0.45       200
weighted avg       0.47      0.52      0.48       200

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
ClassMLP = MLPClassifier(random_state=1, max_iter=300,hidden_layer_sizes=(10,10))
ClassMLP.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(10, 10), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=300,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [ ]:
y_teste_mlp = ClassMLP.predict(X_test)

In [ ]:
print(classification_report(y_test,y_teste_mlp))

              precision    recall  f1-score   support

     Average       0.78      0.72      0.75        50
   Excellent       0.25      0.05      0.09        38
        Good       0.35      0.55      0.43        55
          Vg       0.40      0.42      0.41        57

    accuracy                           0.46       200
   macro avg       0.45      0.43      0.42       200
weighted avg       0.45      0.46      0.44       200

In [ ]:
ClassKnn = KNeighborsClassifier(n_neighbors=10)
ClassKnn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [ ]:
y_teste_knn = ClassKnn.predict(X_test)

In [ ]:
print(classification_report(y_test,y_teste_knn))

              precision    recall  f1-score   support

     Average       0.74      0.70      0.72        50
   Excellent       0.44      0.18      0.26        38
        Good       0.40      0.56      0.47        55
          Vg       0.40      0.42      0.41        57

    accuracy                           0.48       200
   macro avg       0.50      0.47      0.47       200
weighted avg       0.49      0.48      0.48       200

In [ ]:
classNB = CategoricalNB()
classNB.fit(X_train, y_train)
y_teste_NB = classNB.predict(X_test)
print(classification_report(y_test,y_teste_NB))

              precision    recall  f1-score   support

     Average       0.85      0.70      0.77        50
   Excellent       0.55      0.29      0.38        38
        Good       0.34      0.53      0.41        55
          Vg       0.33      0.32      0.32        57

    accuracy                           0.47       200
   macro avg       0.52      0.46      0.47       200
weighted avg       0.51      0.47      0.47       200