In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

rawData = pd.read_csv("sample_data/students2.csv")

In [ ]:
rawData['time'] = pd.Categorical(rawData['time'])

rawData['time_ord'] =rawData.time.cat.codes

#print(rawData['time_ord'].head())

rawData = rawData.drop(['time'],axis=1)
print(rawData['time_ord'])

0      2
1      5
2      5
3      2
4      5
      ..
661    2
662    4
663    5
664    4
665    2
Name: time_ord, Length: 666, dtype: int8

In [ ]:
print(rawData.head())
print(rawData.loc[[0][0]])

  Performance Gender    Caste  ... Father_occupation Mother_occupation time_ord
0   Excellent   male  General  ...            DOCTOR            OTHERS        2
1   Excellent   male      OBC  ...    SCHOOL_TEACHER        HOUSE_WIFE        5
2   Excellent   male      OBC  ...          BUSINESS        HOUSE_WIFE        5
3   Excellent   male  General  ...    SCHOOL_TEACHER    SCHOOL_TEACHER        2
4   Excellent   male  General  ...   COLLEGE_TEACHER        HOUSE_WIFE        5

[5 rows x 12 columns]
Performance              Excellent
Gender                        male
Caste                      General
coaching                        NO
Class_ten_education           SEBA
twelve_education             AHSEC
medium                     ENGLISH
Class_ X_Percentage      Excellent
Class_ XII_Percentage    Excellent
Father_occupation           DOCTOR
Mother_occupation           OTHERS
time_ord                         2
Name: 0, dtype: object

In [ ]:
rawData = pd.get_dummies(data=rawData, columns=['Gender','Mother_occupation','Father_occupation','coaching','Caste','twelve_education','medium','Class_ten_education'])

In [ ]:
def mudar(Perfomance): 
    if Perfomance == 'Excellent':
        valor = float(1)
    elif Perfomance == 'Vg':
        valor = float(0.66)
    elif Perfomance == 'Good':
        valor = float(0.33)
    else:
        valor = 0
    return valor

In [ ]:
cat_list = []
for i in range(len(rawData)):
    per = rawData.iloc[i]['Performance']
    cat = mudar(per)
    cat_list.append(cat)
rawData['Performance'] = cat_list

In [ ]:
cat_list = []
for i in range(len(rawData)):
    per = rawData.iloc[i]['Class_ X_Percentage']
    cat = mudar(per)
    cat_list.append(cat)
rawData['Class_ X_Percentage'] = cat_list

In [ ]:
cat_list = []
for i in range(len(rawData)):
    per = rawData.iloc[i]['Class_ XII_Percentage']
    cat = mudar(per)
    cat_list.append(cat)
rawData['Class_ XII_Percentage'] = cat_list

In [ ]:
print(rawData.head())
print(rawData.loc[0])

   Performance  ...  Class_ten_education_SEBA
0          1.0  ...                         1
1          1.0  ...                         1
2          1.0  ...                         0
3          1.0  ...                         1
4          1.0  ...                         1

[5 rows x 39 columns]
Performance                          1.0
Class_ X_Percentage                  1.0
Class_ XII_Percentage                1.0
time_ord                             0.4
Gender_female                        0.0
Gender_male                          1.0
Mother_occupation_BANK_OFFICIAL      0.0
Mother_occupation_BUSINESS           0.0
Mother_occupation_COLLEGE_TEACHER    0.0
Mother_occupation_CULTIVATOR         0.0
Mother_occupation_DOCTOR             0.0
Mother_occupation_ENGINEER           0.0
Mother_occupation_HOUSE_WIFE         0.0
Mother_occupation_OTHERS             1.0
Mother_occupation_SCHOOL_TEACHER     0.0
Father_occupation_BANK_OFFICIAL      0.0
Father_occupation_BUSINESS           0.0
Father_occupation_COLLEGE_TEACHER    0.0
Father_occupation_CULTIVATOR         0.0
Father_occupation_DOCTOR             1.0
Father_occupation_ENGINEER           0.0
Father_occupation_OTHERS             0.0
Father_occupation_SCHOOL_TEACHER     0.0
coaching_NO                          1.0
coaching_OA                          0.0
coaching_WA                          0.0
Caste_General                        1.0
Caste_OBC                            0.0
Caste_SC                             0.0
Caste_ST                             0.0
twelve_education_AHSEC               1.0
twelve_education_CBSE                0.0
twelve_education_OTHERS              0.0
medium_ASSAMESE                      0.0
medium_ENGLISH                       1.0
medium_OTHERS                        0.0
Class_ten_education_CBSE             0.0
Class_ten_education_OTHERS           0.0
Class_ten_education_SEBA             1.0
Name: 0, dtype: float64

In [ ]:
df_min_max_scaled = rawData.copy() 
column = 'time_ord'
df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())     
rawData = df_min_max_scaled

     Performance  ...  Class_ten_education_SEBA
0            1.0  ...                         1
1            1.0  ...                         1
2            1.0  ...                         0
3            1.0  ...                         1
4            1.0  ...                         1
..           ...  ...                       ...
661          0.0  ...                         1
662          0.0  ...                         1
663          0.0  ...                         1
664          0.0  ...                         1
665          0.0  ...                         1

[666 rows x 39 columns]

In [ ]:
display(rawData)

     Performance  ...  Class_ten_education_SEBA
0            1.0  ...                         1
1            1.0  ...                         1
2            1.0  ...                         0
3            1.0  ...                         1
4            1.0  ...                         1
..           ...  ...                       ...
661          0.0  ...                         1
662          0.0  ...                         1
663          0.0  ...                         1
664          0.0  ...                         1
665          0.0  ...                         1

[666 rows x 39 columns]

In [ ]:
with open('csv_data.csv', 'w') as csv_file:
    rawData.to_csv(path_or_buf=csv_file)